<h1>Reactive form</h1>
<div class="col-sm-6">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Student Name</label>
            <input type="text" required class="form-control" name="username" formControlName="username" placeholder="user name">
        <span *ngIf="!userForm.controls.username.valid && userForm.controls.username.touched" class="error">User name is required</span>
        </div>
        <br>
        <div class="form-group">
            <label>Roll No</label>
            <input type="text" required class="form-control" name="roll no" formControlName="rollNo" placeholder="roll no">
        </div>
        <br>
        <div class="form-group">
            <label>Address</label>
            <input type="text" required class="form-control" name="address" formControlName="address" placeholder="address">
        </div>
        <br>
        <div formArrayName="skill" class="form-group">
            <label >Skills</label>
            <button class="btn btn-primary" (click)="onAddSkill()"> + </button>
            <ng-container *ngFor="let studentSkill of skill.controls; let skillIndex=index" [formControlName]="skillIndex"><br>
            <input type="text" name="" id="">

            <div class="form-group" *ngIf="userForm.value.skill.length > 1">
                <button class="btn btn-danger" (click)="onDeleteSkill(skillIndex)">Delete</button>
            </div>
            </ng-container>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid && userForm.untouched">Login</button>
    </form>
</div>
