<div class="col-sm-6">
<table class="table">
    <thead>
      <tr>
      
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Address</th>
        <th scope="col">Skills</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let studentData of studentArr">
        <td>{{studentData.name}}</td>
        <td>{{studentData.age}}</td>
        <td>{{studentData.address}}</td>
       <td>{{studentData.skills}}</td>
       <button (click)="onDeleteStudent(studentData.id)">Delete</button>
      </tr>
    </tbody>
  </table>
  
</div>
<!-- <div class="form-group" *ngIf="userForm.value.skill.length > 1">
  <button class="btn btn-danger" (click)="onDeleteSkill(skillIndex)">Delete</button>
</div>
</ng-container>
</div> -->