<h1>Hello World!!</h1>
<h4 *ngFor="let Data of arr">
     {{Data}}
</h4>


<button type="button" (click)="plus()">Inc</button>
<input type="text" [value]="i">
<button type="button" (click)="minus()">Dec</button><br><br>
<button type="button" (click)="addItem()">Push</button>
<input type="text">

<!-- <h4>{{getData()}}</h4> -->
<!-- <h4>{{arr}}</h4> -->
<!-- {{arr.length}} -->

<h1>pass data parent to child component</h1>
<app-users [emp]="Employee"></app-users>
<app-users2 (parentComponent)="parentComponent($event)"></app-users2>


